* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-item {
    width: 200px;
    height: 200px;
    background-color: lightsteelblue;
    background-image: url("https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iKIWgaiJUtss/v2/1000x-1.jpg");
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 500ms, transform 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item:hover {
    background-color: pink;
    transform: scale(1.1);
}

.gallery-item > div > p { 
    font-family: arial;
    font-size: 20px;
    color: rgba(255, 255, 255, 0);
    transition: all 1000ms;

}

.gallery-item:hover > p {
    color: rgba(255, 255, 255, 0);
}

.hover-info {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1000ms;
}

.gallery-item:hover > div {
    background-color: rgba(0, 0, 0, .65);
    transition: all 1000ms;
}

.gallery-item:hover > div > p {
    color: rgba(255, 255, 255, 1);
    transition: color 1000ms;
}

#popout{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    /* background-color: white;
    border: 3px solid hotpink; */
    border-radius: 5px;
    

}

.webpage {
    width: 100%;
    height: 100%;
    border: 0px solid black;

    animation-name: popout;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes popout {
    0% {transform: scale(0, 0);}
    50% {transform: scale(1, .02);}
    100% {transform: scale(1, 1);}
}

@keyframes reverse-popout {
    0% {transform: scale(0, 0);}
    50% {transform: scale(1, .02);}
    100% {transform: scale(1, 1);}
}