.box {
    width: 800px;
    height: 400px;
    background-color: red;
}

#green-box {
    width: 800px;
    height: 400px;
    background-color: green;
    margin: 20% 30%;
}

a {
    
    background-color: pink;
}

p {
   display: inline-block;
}


