*{
  margin:0;
  padding:0;
}
body {
    font-family: Arial;
    padding: 20px;
   
  }
h2{
  text-align: center;
}
  #main-content {


    display:flex;
    flex-direction: column;

  }
 
  #icon{
    width:10vw;
    height:auto;
    border:solid goldenrod 3px
  }
  #background{
    background-image: url(../assets/imgs/stillwater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
  #backgroundalt{
    background-image: url(../assets/gifs/rushingwat.gif);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
   

  } 
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    align-content: stretch;
    
  }
  
  .text{
    position:fixed;
    top:150px;
    right:20px;
    padding: 15px;
    width: 20vw;
    height: 70vh;

    
    overflow: scroll;
    text-align: center;


    background-color: rosybrown;
    border: 1px dashed brown;
}

  .card {
    background-color: gray;
    padding: 20px;
    margin-top: 20px;
    width: 65vw;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images {
    width: auto;
    height: 50vh;
  }
  /* .look{ 
    background-image:url(../images/rocknormal.jpg);
    width: auto;
    height: 50vh;
    background-color: goldenrod;
    background-repeat: no-repeat;
  background-size: cover;
   } */

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    /* background: #ddd; */
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .look:hover{
    background-image: url(../images/wirdrock.png)
}


.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}
.bg{
  height:100vh;
  width:100vw;
  background-color:lightblue;   
  display:flex;
}
.fourohfour{
  font-size:300%;
  color:seagreen;
    height: 50%;
    width:50vw;
    animation: changeLetter 3s linear infinite alternate;
    display: block;
    content: "A";
}
.one{
  animation: shake .5s linear infinite;
}


@keyframes changeLetter {
  0% {
    content: "A";
  }
  50% {
    color: white;
  }
  100% {
    content: "B";
  }
}
.letter-changer::after {
  animation: changeLetter 3s linear infinite alternate;
}
@keyframes shake{
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }

#one
#two
#three
#four

