.wrapper {
    max-width: 600px;
    width: 50%;
    height: 800px;
    max-height: 800px;
    margin: 120px auto;
    padding: 30px;
    border-radius: 15%;
    
    /* background: linear-gradient(#ff9999, #aaffff); */
    background-color:violet;
    transition: .5s;
}
.wrapper:hover {
    /* background: linear-gradient(#aaffff, #ff9999); */
    background-color:rgb(107, 196, 157);

}



.box { 
    width: 19%;
    height: 76%;
    float: left;
    border-radius: 15%;
    margin: 2% 3%;
    padding: 0px;
    background-color: pink;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1000ms;
}

.box:hover {
    background-color: hotpink;
    transform: scale(3);
    
}

.row{
    height: 16.66%;
}

.row::after {
    content:"";
    display: block;
    clear: both;
}

.horse {
    background-image: url("http://pngimg.com/uploads/horse/horse_PNG2552.png");
    
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

