*{
    margin:0;
    padding:0;
    background-color:tan;
  }
  
  .map{
      position: fixed;
      display: flex;
      width:100%;
      height: 800px;
      margin-top:30px;
      background-image:url(/images/map.png );
      background-size:contain;
      background-repeat: no-repeat;
      justify-content: center;  
      align-items: top;
  }
  #name{
      position: static;
      bottom: 0;
      left: 0;
      right: 0;
      
      width:40%;
      height: 80px;
      background-color: cornsilk;
      text-align: center;
      font-family: cursive;
      font-size: 250%;
  }
  
  .pin{
      position: fixed;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color:red;
      margin:0;
      background: radial-gradient(circle at 5px 5px, #dc0000, rgb(63, 10, 10));
      opacity: 1;
      box-shadow: 10px 10px 5px grey; 
      transition:all .2s;
  }
  .one{
      top:500px;
      left:45px;
  }
  .two{
      top:px;
      left:px;
  }
  .three{
      top:px;
      left:px;
  }
  .four   {
      top:;
      left:px;
  }
  .five{
      top:px ;
      left:px;
  }
  .six{
      top: px;
      left: px;
  }
  .sevin{
      top: px;
      left:px;
  }
  .eight{
      top:px ;
      left: px;
  }
  .nine{
      top:px;
      left:px ;
  }
  .ten{
      top:px ;
      left:px;
  }

  .pin:hover{
      border-radius: 0%;
      background-size:contain;
      height:200px;
      width:200px;
      background-color: green;
  }
  .one:hover{
      background-image: url();
  }
  .two:hover{
      background-image: url();}
  
  .three:hover{
      background-image: url();
  }
  .four:hover{
      background-image: url();
  }
  .five:hover{
      background-image: url();
  }
  .six:hover{
      background-image: url();
  }
  .sevin:hover{
      background-image: url();
  }
  .eight:hover{
      background-image: url();
  }
  .nine:hover{
      background-image: url();
  }
  .ten:hover{
      background-image: url();
  }
  