* {
    margin: 0px;
    padding: 2px;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 7em;
}

a.webart {
    color: inherit;
    text-decoration: none;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title {
    top: 0px;
    left: 50%;
    position: fixed;
    font-size: calc(1em + 6vw);
    border: 2px solid #fe5533;
    padding: 8px;
    color: white;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
        2px 4px 0 #000;
    text-align: center;
    transform: translateX(-50%);
    background-color: white;
}


#sticky-nav{
    top: calc(60px + 6vw);
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid lightseagreen;
    width: 80%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: white;
    /* transform: translateX(50%); */
}

.header {
    z-index: 1;
    position: fixed;
    top: -50px;
    left: -10px;
    width: 110%;
    height: calc(150px + 7vw);
    background-color: white;
}

.blank {
    width: 100%;
    height: 1000px;
    background-color: white;
    border: 3px solid brown;
}
#sticky-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sticky-nav li {
    list-style: none;
    font-size: calc(7px + .9vw);
    margin: .2em 0;
    border: 2px solid lightslategrey;
    padding: 4px;
    font-weight: 100;
}

#sticky-nav a {
    color: black;
    font-size: .6em;
    align-items: center;
    display: block;
}

#sticky-nav li:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
}
#sticky-nav li:hover a {
    color: white;
}

#diagram {
    transform: scale(1.2);
    padding: 80px;
    margin: 20px;
}

#assignment-list {
    position: relative;
    top: 200px;
    left: 0px;
    margin: 20px auto 4px auto;
    padding: 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


a.assignment-link {
    display: flex;
    color: inherit;
    text-decoration: none;
    border: solid 2px pink;
    margin: 10px 0;
    padding: 0;
}
.assignment {
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.assignment:hover {
    background-color: pink;
}
.assignment h2 {
    font-weight: 500;
    font-size: 1.6em;
}

.assignment h3 {
    font-weight: 800;
    font-size: 1.8em;
    letter-spacing: 1px;
}

.assignment-inner {
    padding: 5px;
}

.green {
    background-color: #ccffdd;
}

.right {
    width: 33%;
}

.left {
    width: 67%;
}

a.schedule {
    border: 2px solid #99ccff;
}

@media only screen and (max-width: 700px) {

    #title { 
        margin: 20px 0 10px 0;
        position: static;
        transform: translateX(0);
    }
    #sticky-nav {
        top: 0px;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    #sticky-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    #sticky-nav li {
        display: flex;
        justify-content: center;
        font-size: 3em;
        margin: 0;
    }

    #assignment-list {
        z-index: 1;
        position: relative;
        left: -2px;
        top: calc(300px + 4vw);
        margin: 4px auto;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    a.nav-links{

    }

    a.assignment-link {
        display: flex;
        color: inherit;
        text-decoration: none;
        border: solid 2px pink;
    }
    .assignment {
        position: static;
        padding: 0 15px;
        width: 98%;
        display: flex;
        justify-content: space-between;
    }

    .assignment:hover {
        background-color: pink;
    }
    .assignment h2 {
        font-weight: 500;
        font-size: 1.6em;
    }

    .assignment h3 {
        font-weight: 800;
        font-size: 1.8em;
        letter-spacing: 1px;
    }

    .assignment-inner {
        padding: 5px;

    }

    .green {
        background-color: #ccffdd;
    }

    .right {
        width: 33%;
    }

    .left {
        width: 67%;
    }

    .schedule {
        border: solid 2px #99ccff;
    }

    .header {
        position: relative;
        left: 0px;
        top: 0px;
        width: 98%;
        height: calc(150px + 7vw);
        background-color: white; 
    }

    a.schedule {
        border: 2px solid #99ccff;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2)  {
    #title { 
        margin: 20px 0 10px 0;
        position: static;
        transform: translateX(0);
    }
    #sticky-nav {
        top: 0px;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    #sticky-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    #sticky-nav li {
        display: flex;
        justify-content: center;
        font-size: 3em;
        margin: 0;
    }

    #assignment-list {
        z-index: 1;
        position: relative;
        left: -2px;
        top: calc(300px + 4vw);
        margin: 4px auto;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    a.nav-links{

    }

    a.assignment-link {
        display: flex;
        color: inherit;
        text-decoration: none;
        border: solid 2px pink;
    }
    .assignment {
        position: static;
        padding: 0 15px;
        width: 98%;
        display: flex;
        justify-content: space-between;
    }

    .assignment:hover {
        background-color: pink;
    }
    .assignment h2 {
        font-weight: 500;
        font-size: 1.6em;
    }

    .assignment h3 {
        font-weight: 800;
        font-size: 1.8em;
        letter-spacing: 1px;
    }

    .assignment-inner {
        padding: 5px;

    }

    .green {
        background-color: #ccffdd;
    }

    .right {
        width: 33%;
    }

    .left {
        width: 67%;
    }

    .schedule {
        border: solid 2px #99ccff;
    }

    .header {
        position: relative;
        left: 0px;
        top: 0px;
        width: 98%;
        height: calc(150px + 7vw);
        background-color: white; 
    }

    a.schedule {
        border: 2px solid #99ccff;
    }
}