* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    background-color: lightcoral;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header{
    background-color: lightblue;
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 7em;
    text-align: center;
}

#title {
    font-size: calc(4em + 10vw);
}

/* @media only screen and (min-width: 768px) {
    
    #title {
        font-size: 9em;
    }
} */