pre, code {
    font-family: monospace, monospace;
  }
  pre {
    overflow: auto;
  }
  pre > code {
    display: block;
    padding: 2rem;
    word-wrap: normal;
  }

  h1 {
    font-family: Arial;
    color: green;
  }

  p {
    font-family: Arial;
    color: blue;
    /* text-align: center; */
  }

  #testdiv {
    p {
      color: purple;
    }
    
  }