* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Shadows Into Light Two', cursive;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
    width: 98vw;
    justify-content: center;
    margin: 1vh auto;
    border: 2px solid lightblue;

}
#header {
    width: 90vw;
}

header {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    border: 3px solid pink;
    margin: 1vh;
}

#title {
    color: lightskyblue;
    font-size: 3em;
}

#sketch-stuff {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 80%;
    border: 2px solid purple;
}

#remaining-names {
    width: 10%;
    border: 2px solid green;
}

#sketch-parent {
    border: 2px solid coral;
    width: 90%;
    height: 100%;
}

li {
    list-style: none;
}

#roll-it {
    margin: 1% 0;
    padding: .5%;
}